[submodule "infrastructure/roles/mysql"]
	path = infrastructure/roles/mysql
	url = git://github.com/andreswebs/ansible-role-mysql.git
[submodule "infrastructure/roles/mysql_backup_s3"]
	path = infrastructure/roles/mysql_backup_s3
	url = git://github.com/andreswebs/ansible-role-mysql-backup-s3.git
[submodule "infrastructure/roles/aws_onpremises"]
	path = infrastructure/roles/aws_onpremises
	url = git://github.com/andreswebs/ansible-role-aws-onpremises.git
[submodule "infrastructure/roles/aws_codedeploy"]
	path = infrastructure/roles/aws_codedeploy
	url = git://github.com/andreswebs/ansible-role-aws-codedeploy.git
