---
aws_access_key_id: {{ aws_codedeploy.aws_access_key_id }}
aws_secret_access_key: {{ aws_codedeploy.aws_secret_access_key }}
iam_user_arn: {{ aws_codedeploy.iam_user_arn }}
region: {{ aws_codedeploy.region }}
